<header class="rts__section rts__header absolute__header">
  <div class="container-none">
    <div class="rts__menu__background">
      <div class="row">
        <div class="d-flex align-items-center justify-content-between">
          <div class="rts__logo">
            <a href="index.html">
              <img
                class="logo__image"
                src="assets/img/logo/header__one.svg"
                width="160"
                height="40"
                alt="logo"
              />
            </a>
          </div>
          <div
            class="rts__menu d-flex gap-5 gap-lg-4 gap-xl-5 align-items-center"
          >
            <div class="navigation d-none d-lg-block">
              <nav class="navigation__menu" id="offcanvas__menu">
                <ul class="list-unstyled">
                  <li class="navigation__menu--item">
                    <a
                      href="index.html"
                      class="navigation__menu--item__link"
                      data-en="Home"
                      data-ar="الرئيسية"
                      >Home</a
                    >
                  </li>

                  <li class="navigation__menu--item">
                    <a
                      class="navigation__menu--item__link"
                      href="pricing.html"
                      data-en="Pricing"
                      data-ar="الأسعار"
                      >Pricing</a
                    >
                  </li>

                  <li class="navigation__menu--item has-child has-arrow">
                    <a
                      href="#"
                      class="navigation__menu--item__link"
                      data-en="Policies & Support"
                      data-ar="السياسات والدعم"
                      >Policies & Support</a
                    >
                    <ul class="submenu sub__style" role="menu">
                      <li role="menuitem">
                        <a href="about.html" data-en="About" data-ar="من نحن"
                          >About</a
                        >
                      </li>
                      <li role="menuitem">
                        <a
                          href="privacy.html"
                          data-en="Privacy"
                          data-ar="الخصوصية"
                          >Privacy</a
                        >
                      </li>
                      <li role="menuitem">
                        <a
                          href="faq.html"
                          data-en="Faq"
                          data-ar="الأسئلة الشائعة"
                          >Faq</a
                        >
                      </li>
                      <li role="menuitem">
                        <a href="tos.html" data-en="Tos" data-ar="الشروط"
                          >Tos</a
                        >
                      </li>
                      <li role="menuitem">
                        <a
                          href="contact-1.html"
                          data-en="Contact us"
                          data-ar="اتصل بنا"
                          >Contact us</a
                        >
                      </li>
                    </ul>
                  </li>

                  <li class="navigation__menu--item">
                    <a
                      href="blog-1.html"
                      class="navigation__menu--item__link"
                      data-en="Blog"
                      data-ar="المدونة"
                      >Blog</a
                    >
                  </li>
                  <li id="profileMenu" class="navigation__menu--item">
                    <a
                      href="employer-dash-profile.html"
                      class="navigation__menu--item__link"
                      data-en="User Profile"
                      data-ar="الملف الشخصي"
                      >User Profile</a
                    >
                  </li>
                </ul>
              </nav>
            </div>

            <div class="header__right__btn d-flex gap-3">
              <a
                href="#"
                id="login"
                class="small__btn d-none d-sm-flex no__fill__btn border-6 font-xs"
                aria-label="Login Button"
                data-bs-toggle="modal"
                data-bs-target="#loginModal"
              >
                <i class="rt-login"></i
                ><span id="authText" data-en="Sign In" data-ar="تسجيل الدخول"
                  >Sign In</span
                >
              </a>
              <a
                href="#"
                id="logout"
                class="small__btn hidden-logout d-sm-flex no__fill__btn border-6 font-xs"
                aria-label="Login Button"
                data-bs-toggle="modal"
                data-bs-target="#logoutModal"
              >
                <i class="rt-login"></i
                ><span data-en="Logout" data-ar="تسجيل الخروج">Logout</span>
              </a>
              <!-- زر تغيير اللغة -->
              <a
                style="cursor: pointer"
                id="lang-btn"
                class="small__btn d-sm-flex no__fill__btn border-6 font-xs"
              >
                Arabic
              </a>

              <button
                class="d-md-block d-lg-none"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvas"
                aria-controls="offcanvas"
              >
                <i class="fa-sharp fa-regular fa-bars"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header> 
